.app{
    display: grid;
    grid-template-rows: 150px auto;
    /* background-color: yellow; */
}
.app_main{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%;
    /* background-color: blueviolet; */
}

